*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style-type: disc;
}
.stats-category{
    background-color: #f1efef;
}
.card-typo{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.stats-section{
    display: flex;
    flex-direction: column;
    gap: 30px;
    gap: 20px;
    max-width: 1300px;
    padding: 30px;
    width: 90%;
    margin: 0 auto;
}
.stats-section .circle-content{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    
}
.stats-section .outer-circle{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items:center;
}
.stats-section .outer-circle .inner-circle{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: white;
}
.stats-main .card-section .card-stats{
    display: flex;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    gap: 10px;
    align-items: center;
}
.stats-content{
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 20px;

}
.stats-content h2{
    font-size: 35px;
}
.stats-content ul{
    padding-left:35px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.explore-btn{
    width: 200px;
    border-radius: 30px;
    padding: 12px;
    border: none;
    background-color: #f27a44;
    color: white;

}
.stats-main{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.card-section{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.card-section .card-stats{
    padding: 20px;
    background-color: white;
    border-radius: 15px;
}
@media (max-width:768px) {
    .stats-main{
        flex-direction: column;
        gap: 20px;
    }
    .stats-section{
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 1300px;
        padding: 20px;
        width: 100%;
    }
    .stats-content{
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-size: 16px;
    
    }
    .card-section{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .card-section .card-stats{
        padding: 10px;
        background-color: white;
        border-radius: 10px;
    }
    .stats-section .circle-content{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        
    }
    .stats-section .circle-content{
        width: 100%;
        display: flex;
        justify-content: center;
        
    }
    .stats-section .outer-circle{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #d9d9d9;
        display: flex;
        justify-content: center;
        align-items:center;
    }
    .stats-section .outer-circle .inner-circle{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: white;
    }
    .stats-content h2{
        font-size: 25px;
    }
    
}